<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Cameras</title>
</head>
<body>
    <div id="content" class="p-5">
        <div class="d-flex flex-row justify-content-between">
            <form action='/plan' method='POST' enctype='multipart/form-data' class="card">
                <div class="card-header">
                    <h1>Upload plan</h1> 
                </div>
                <div class="card-body">
                    <div class="p-2"><input name='file' type='file'></div>
                    <div class="p-2"><input type='submit'></div>
                </div>
            </form>
            <div class="card">
                <div class="card-header">
                    <h1>Building plan</h1>
                </div>
                <div class="card-body">
                    <img src="/images/plan.png" style="width: 400px; height: 400px">
                </div>
            </div>
            <form action='/camera' method='POST' class="card">
                <div class="card-header">
                    <h1>Add camera connection</h1>
                </div>
                <div class="card-body">
                    <p id="text">To set camera coordinates click on the plan</p>
                    <input id="x" class="form-control" name='x' type='hidden' value=0>
                    <input id="y" class="form-control" name='y' type='hidden' value=0>
                    <div class="p-2"><input class="form-control" name='title' placeholder="Title" required></div>
                    <div class="p-2"><input class="form-control" name='rstp' placeholder="rstp" required></div>
                    <div class="p-2"><input class="form-control" name='F' placeholder="F"></div>
                    <div class="p-2"><button class="btn btn-primary" type="submit">Save</button></div>
                </div>
            </form>
        </div>
        <div class="p-5">
            {% for camera in cameras %}
            <div class="card w-25">
                <div class="card-header">
                    <h1>{{ camera.title }}</h1>
                </div>
                <div class="card-body">
                    <img class="w-100" src="data:image/png;base64, {{ camera.current_frame }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 

    <script>
        let element = document.querySelector('img');
        element.setAttribute('draggable', false)
        element.addEventListener('click', (event) => {
            event.preventDefault()
            let rect = element.getBoundingClientRect();
            let x = rect.left
            let y = rect.top
            let cx = event.x
            let cy = event.y
            let rx = Math.round(cx - x);
            let ry = Math.round(cy - y);
            console.log(rx + " " + ry);
            let inputX = document.getElementById("x");
            let inputY = document.getElementById("y");
            inputX.value = rx;
            inputY.value = ry;
            let text = document.getElementById("text");
            text.innerText = "Coordinates set to " + rx + ", " + ry;
        })
    </script>

</body>
</html>